.font1{
    font-family: 'Rakkas';
    background-color: antiquewhite;
}
.img2{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
body{
    background-color: aquamarine;
}
.navbar-nav {
    margin-left: auto;
    font-family: 'Rakkas'
}

.carousel-item{
    
}
.video1{
    width: 330px;
    height: 250px;
    border-radius: 20px;
}
.centerz{
    padding: 3%;
}
.margin1{
    margin-left: 30px;
}
.color2{
    text-decoration: none;
}
.head1{
    font-size: 50px;
    text-align: center;
    margin-top: 3%;
}
.row1{
    padding: 5%;
     color: white;
    background-color: rgb(20, 19, 19);
}
}
.col3{
    text-align: center;
    padding: 5%;

}
.col4{
    text-align: center;
    padding: 5%;
    margin: 0 7% 0 7%;
}
.col5{
   text-align: right;
}
.col6{
     text-align: left;
     
}
.bannerarea{
    text-align: center;
    padding: 5%;
}
.padding1{
    padding: 5%;
} 
.color1 {
     text-decoration: none;    
}
.color1:hover{
    color: white;
    opacity: 10;
}
.banner1{
    width: 300px;
    height: 160px;
    border-radius: 10px;
    
}
.banner1:hover{
    transform: scale(1.1);
}
.background {
    background-image: url(images/backgroundgrowth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20%;
    height: 550px;

}
.growth{
    color: white;
    text-align: center;
    padding: 5%;

}
.BIGHEAD{
    font-size: 50px;
}
.growth1{
    font-size: 80px;
}
.footer{
    background-color: black;
    width: 100%;
    color: white;
    
}
.fa{
    padding: 8px;
    margin: 2% 0 2% 0;
    text-decoration: none;
}
.fa-instagram{
    color: orangered;
    background-color: white;
    border-radius: 7px;
    
}
.fa-facebook{
    color: blue;
    background-color: white;
    border-radius: 7px;
}
.fa-twitter{
    color: blue;
    background-color: white;
    border-radius: 7px;
}
.fa-linkedin{
    color: blue;
    background-color: white;
    border-radius: 7px;
}
.fa-youtube{
    color: red;
    background-color: white;
    border-radius: 7px;
}
.footer1{
    padding: 3%;
    text-align: center;
}
.fa-envelope{
    color: white;
}
